/* main {
  margin-left: 220px;
  padding: 20px;
} */

/* h2 {
  text-align: center;
  margin-bottom: 20px;
} */

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

ul li form {
  display: inline-block;
  margin-top: 10px;
}

ul li form input[type='number'] {
  width: 60px;
  padding: 5px;
  margin-right: 10px;
}

ul li form button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
}

ul li form button:hover {
  background-color: #45a049;
}

.message {
  color: green;
  font-weight: bold;
  margin-bottom: 20px;
}

ul li a {
  color: #4caf50;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}
/* 
.success-message {
  color: green;
  font-weight: bold;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
} */

@media (max-width: 768px) {
  /* .left-navbar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .left-navbar a {
    float: left;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
  main {
    margin-left: 0;
    padding: 20px;
  } */
}
